.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


*, *::after, *::before { 
  box-sizing: border-box;
}

/* body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 4rem);
  grid-template-rows: 7rem 2rem 7rem;
  gap: .5rem;
  cursor: pointer;
  justify-content: center;
  padding-top: 1rem;
}

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: .5rem;
  color: white;
  user-select: none;
}

.computer-deck {
  background-color: green;
}

.player-deck {
  background-color: blue;
}

.text {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.card.red {
  color: red;
}

.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem
}

.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
} */

div.oneCradCss{
  border:1px solid black;
  border-radius: 10px;
  margin:5px;
  width:100px;
  height:100px;
  padding:5px;
  display: inline-block;
}
div#deck{
  display: flex;
  flex-wrap: wrap;

}

.card-text{
  font-size: 21px;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #282c34;
  flex-wrap: wrap;
}

.App-link {
  color: #61dafb;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card-container {
  background: #fff;
  width: 14rem;
  height: 20rem;
  border-radius: 7px;
  margin: 10px;
}
.card-content__inner,
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  width: 90%;
}
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  height: 10%;
}
.card-content__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}

.card-content-inner__center {
  width: 100%;
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
}
.top-symbol-sigle,
.bottom-symbol-sigle {
  text-align: center;
  width: 100%;
}

.top-symbol,
.bottom-symbol {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.top-symbol {
  align-items: flex-start;
}
.bottom-symbol {
  align-items: flex-end;
}
.center-symbol-sigle {
  font-size: 20px;
}

.red {
  color: red;
}
.black {
  color: black;
}

.figure-picture {
  transform: scale(0.94) translate(0, 10px);
}

button {
  background: none;
  border: 1px solid #fff;
  outline: none;
  margin: 0.1rem;
  padding: 0.4rem;
  font: inherit;
  font-size: 0.75rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background-color: #fff;
  color: #444;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
}

input[type="text"] {
  width: 200px;
  height: 20px;
  padding-right: 50px;
}

input[type="submit"] {
  margin-left: -50px;
  height: 25px;
  width: 50px;
  background: blue;
  color: white;
  border: 0;
  
}